# Assets
BACKGROUNDS = ""
CHANNEL_INTRO = ""
HTML_TEMPLATE = ""

# Reddit Praw Credentials
SUBREDDIT = "nosleep"
REDDIT_USERNAME = ""
REDDIT_CLIENT_ID = ""
REDDIT_CLIENT_SECRET = ""
REDDIT_PASSWORD = ""
REDDIT_USER_AGENT = ""

# MongoDB
MONGO_URI = ""

# Youtube
CHANNEL_ID = ""
YOUTUBE_CLIENT_ID = ""
YOUTUBE_CLIENT_SECRET = ""
YOUTUBE_TAGS = ""

# Replicate
REPLICATE_API_KEY = ""

# Banana
BANANA_API_KEY = ""
BANANA_MODEL_KEY = ""